<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/custom.css' %} ">

</head>
<body>
    <div class="space">
        <form method="POST" action="/" class="container">
            {% csrf_token %}
                {{ form.title }}
                <button type="submit" class="btn btn-success btn-lg">Save</button>
        </form>
    </div>
    <hr>
    {% for task in tasks %}
    <div class="container">
        <div class=" list-group-item bg-light">
        {% if task.completed %}
            <strike>{{ task }}</strike>
        {% else %}
            <span>{{ task }}</span>
        {% endif %}
        </div>
        <div class=" list-group-item bg-light">
            <a class="btn btn-outline-danger btn-md" href="{% url 'delete' task.id %}" name='delete'>Delete</a>
            <a class="btn btn-outline-info  btn-md" href="{% url 'update' task.id %}" name='update'>Edit</a>
            
        {% if task.completed %}
            <a class="btn btn-outline-secondary btn-md" href="{% url 'check' task.id %}" name='check'>Mark Incomplete</a>
        {% else %}
            <a class="btn btn-outline-success btn-md" href="{% url 'check' task.id %}" name='check'>Mark Complete</a>
        {% endif %}
        </div>


    </div>
    <br>
    {% endfor %}

</body>
</html>

