<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update </title>
    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/custom.css' %} ">

</head>
<body>

    <div class="container row space">
        <form method="POST" action="/">
            {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-sm-2 btn-success ">Save</button>
        </form>
        
</body>
</html>